.collapse {
	width: 100%;
    @include flex-column;

	&_visible {
		background: $main-color;
		cursor: pointer;
		display: flex;
        justify-content: space-between;
		align-items: center;
		height: 52px;
		padding: 10px 20px 10px 15px;
		border-radius: 5px;
		width: 100%;
    
        @include mobile{
            height: 30px;
            width: 100%;
        }

        h2{
            color: $third-color;
            @include font(24px, 700);

            @include mobile{
                @include font(13px, 700);
            }
        }
	}

	&_toggle {
		border-radius: 5px;
		transition: max-height 0.6s ease;
        width: 100%;
        overflow: scroll;

        @include mobile{
            width: 100%;
        }
    }	
    
    &_text {
            border-radius: 5px;
            color: #000;
            background-color: $second-color;
			margin: 0;
			padding: 22px 15px;
			pointer-events: none;
            @include font(18px, 300);

            @include mobile{
                @include font(12px, 300);
            }
		}

}
.chevron{
   width: 24px;
   transition: -webkit-transform 0.6s ease;
   transition: transform 0.6s ease;

   @include mobile{
    width: 16px;
   }
}
.rotated {
	transform: rotate(180deg);
}
.about-style{
    width: 85%;
    margin: 30px auto 0;

    @include mobile{
        width: 100%;
        margin: 20px 0;
    }
}