.banner {
    position: relative; 
    width: 100%;
    border: 1px;
    @include small-radius;
    @include box-shadow;
}

.banner-img {
    width: 100%; 
    display: block;
    height: 223px;
    @include small-radius;
    object-fit: cover;
    filter: brightness(40%);

    @include mobile{
        height: 111px;
    }
}

.banner-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    color: $third-color;
    @include font(48px, 700);
    width: 100%;
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);

    @include mobile{
        font-size: 24px;
        width: 225px;
        text-align: start;
    }
}


